In [1]:
import pandas as pd
import os

In [2]:
#turning the file into a data frame
cwd = os.getcwd()
file_to_load = os.path.join(cwd, "Resources", "students_complete.csv")
student_df = pd.read_csv(file_to_load)

In [3]:
student_names = student_df["student_name"].tolist()

In [4]:
#fixing the student names variables
students_to_fix = []
prefixes = []
suffixes = []
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ",
                    " MD", " DDS", " DVM", " PhD"]
students_fixed = []

In [5]:
#getting the length of each split student name
for name in student_names:
    if len(name.split()) > 2:
        students_to_fix.append(name)

In [6]:
#get the length of the list
len(students_to_fix)

1531

In [7]:
#find the prefixes in the students to fix list
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [8]:
#find all the suffixes in the students to fix list
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
        
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [9]:
#cleaning the list
for word in prefixes_suffixes:
    student_df["student_name"] = student_df["student_name"].str.replace(word, "")

<ipython-input-9-9c2283b1fe72>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_df["student_name"] = student_df["student_name"].str.replace(word, "")

In [10]:
student_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [11]:
student_names = student_df["student_name"].tolist()

In [12]:
for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
        
len(students_fixed)

151