In [1]:
#define the function to say hello
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
def say_something(something):
    print(something)

In [4]:
say_something("Hello World!")

Hello World!

In [5]:
passing_math = 29370
total_student = 39170

In [6]:
def passing_math_percent(math_count, student_count):
    return math_count/float(student_count)*100

In [7]:
passing_math_percent(passing_math, total_student)

74.9808526933878

In [8]:
#list of my grades
my_grades = ["B", "C", "B", "D"]

In [9]:
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [10]:
my_grades.map({"B": "A", "C": "B", "D": "C"})

0    A
1    B
2    A
3    C
dtype: object

In [11]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [12]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [13]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object